
* {

  margin: 0;
  padding: 0;
   box-sizing: border-box;
}

body{
  font-family: 'Shippori Mincho B1', serif;
}
html {
  scroll-behavior: smooth;
}

.container{
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
  padding:30px 50px 20px 50px;
  box-sizing:border-box;
}
 
nav{
  width: 100%;
  top:0;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo{
  font-size:30px;
  font-weight: bold;
  font-family: 'Ranchers', cursive;
}

ul{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0;
  margin-right: 150px;
  list-style-type: none;
}

.bannerLogo{
  height: 80px;
}



.a-header{
  text-decoration: none;
  font-size:20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: black;
  margin-left: 30px;
  border-radius: 200px 200px 200px 200px;
  width: fit-content;
  padding: 10px;
}

a:active{
  transform: scale(0.98);
}

ul > li{
  font-size:18px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 20px;
  margin-left:20px;
  padding:10px;
  box-sizing: border-box;
  cursor: pointer;
  padding-left: 20px;
  border-radius:100% 0% 23% 77% / 31% 65% 35% 69%;
  transition: background-color 0.5s ease-in-out;
}

ul > li:hover{
  background: linear-gradient(#d88a8a, #9198e5);
  border-radius: 100% 0% 23% 77% / 31% 65% 35% 69%;
  transform: scale(1.1);
  text-decoration: none;
}

.a-header:hover{
  background: linear-gradient(#d88a8a, #9198e5);
  transform: scale(0.98);
  text-decoration: none;
}


.cart-link{
  color: black;
}

.search  .fa{
  font-size: 20px;
  opacity: 0.8;
  cursor: pointer;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 50;
  padding: 10px;
}



.search .fa:hover{
  background-color: rgb(224, 224, 224);
  border-radius: 50%;
}

.cart-items-number{
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(224, 224, 224);
  margin-bottom: 10px;
}

.loop > i{
  font-size: 10px;
}

.mainContent{
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width:70%;
  height:100%;
 margin:70px auto;
  box-sizing: border-box;
 justify-content: space-between;
  flex-wrap: wrap;
}

.card{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 25px;
  margin-right: 20px;
  transition: 0.2s all;
}

.card:hover{
  transform: scale(1.11);
}



.card .img{
  width: 250px;
}


.btn{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
border: 2px solid #000000;
cursor: pointer;
background-color: black;
color:white;
font-weight: bold;
transition: 0.4s all;
}

.btn:hover{
  width: 170px;
}

.btn:active{
  transform: scale(0.98);
}

.trd{
  font-size: 20px;
  margin-top: 20px;
  font-weight: 600;
}

.footer{
    height: 50px;
    bottom: 0px;
    margin-bottom: 0px;
font-size: 13px;
display: flex;
flex-direction: column;
margin-top: 130px;
}

.card-desc{
  font-size: 14px;
  color: rgb(199, 201, 202);
}

.input-show{
  display:inline;
  animation: slide 1s ease;
  height: 42px;
  width: 180px;
  border-radius: 58px 58px 58px 58px;
  padding:10px;
  border: none;
  background-color: rgb(245, 244, 244);
  font-size: 14px;
}

.input-show:focus{
  outline: none;
}

.input-show:hover{
  background-color: rgb(224, 224, 224);
}

.input-show::placeholder{
  opacity: 0.4;
  font-size: 16px;
  text-indent: 20px;
}





.input-hide{
  display:none;
}

@keyframes slide{
  0%{
    opacity: 0;
    transform: translateX(100px)
  }
  100%{
    opacity: 1;
    tranform: translateY(0);
  }
}

.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.input-field{
  width: 350px;
  border-radius: 28px;
  height: 45px;
  border: none;
  margin-bottom: 30px;
  padding-left: 18px;
  background-color: rgb(245, 244, 244);
}

.login-header{
  margin-bottom: 15px;
  margin-left: -250px;
  font-size: 40px;
}

.login-label{
  margin-left: -250px;
}

.login-divider{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login-divider > hr{
  height: 150px;
  width: 1px solid gray;
  opacity: 0.3;
}


.login h1{
  padding-bottom: 20px;
}

.login input{
  padding-bottom: 5px;
  height: 40px;
}

.login button{
  margin-top: 20px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageBanner{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  width: 1800px;
  height: 700px;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url("https://mvcmagazine.com/wp-content/uploads/2019/11/mvcmagazine-diorxairjordan-05.jpg") center/cover no-repeat;
}

.imageBanner button{
  height: 40px;
  width: 100px;
  border-radius: 58px 58px 58px 58px;
  outline: none;
  display: flex;
  justify-content:center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 0.5px solid black;
  background-color: rgb(255, 255, 255);
}

.imageBanner button:hover{
  opacity: 0.6;
  cursor: pointer;
}

.imageBnrLogo{
  display: flex;
  margin-bottom: 400px;
  margin-left: 20px;
  font-size: 40px;
  font-family: 'Fredoka One', cursive;
}

.searchBar{
  display: inline-block;
}


.womenImageBanner{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  width: 1800px;
  height: 700px;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url("https://gcs.justfreshkicks.com/2020/04/5e54d1d4-7548f133-b153-47fa-80a3-06898f433430.png") center/cover no-repeat;
}

.womenImageBanner button{
  height: 40px;
  width: 100px;
  border-radius: 58px 58px 58px 58px;
  outline: none;
  display: flex;
  justify-content:center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 0.5px solid black;
  background-color: rgb(255, 255, 255);
}

.login-email{
  margin-left: -220px;
}

.womenImageBanner button:hover{
  opacity: 0.6;
  cursor: pointer;
}

.login .signIn{
  padding-top: 8px;
  width: 350px;
  height: 40px;
 font-weight: bold;
  border-radius: 28px;
  border: none;
  background-color: royalblue;
  color: white;
  cursor: pointer;
}

.register-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  padding-top: 8px;
  height: 40px;
  border-radius: 28px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid black;
  font-weight: bold;
  cursor: pointer;
}

.register-btn:hover{
  background-color: black;
  color: white;
}

.register-btn:active{
  outline: none;
}

.login .signIn:focus{
  outline: none;
}

.or-login{
  margin-top: 40px;
}

.underline{
  width: 30%;
  height: 2px;
  color: black;
}

.input-field:focus{
  border: #595f6e;
  outline: none;
}

.contactDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.map{
 margin-top: 60px;
}


.contactHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.contactInfo{
  width: 400px;
  border: 1px solid gray;
}

.register{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;

}

.column {
  flex: 50%;
  display: inline;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.dropdown{
  display: flex;
  margin-left: auto;
  margin-right: 200px;
  border: none;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  width: 90px;
}



.dropdown:focus{
  outline: none;
}

.column img{
  margin-top: 130px;
  width: 600px;
  height: 600px;
}

.column .product-home{
  margin-right: 140px;
  margin-top: 100px;
  opacity: 0.8;
  font-size: 20px;
}

.column h1{
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.column h3{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.details-input{
  width: 45px;
  height: 45px;
  border: 1px solid #f5a40f;
  margin-top: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
}


.details-input:focus{
  outline: none;
}

.details-select{
  width: 125px;
  height: 45px;
  border: 1px solid #f5a40f;
  padding-left: 15px;
}

.details-select:focus{
  outline: none;
}

.price{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

.details-info{
  display: flex;
  flex-direction: column;
  justify-content:first baseline;
}

.details-btn{
  margin-top: 10px;
  width: 180px;
  height: 40px;
  border-radius: 44px 44px 44px 44px;
  background: #f5760f;
  color: white;
  border: none;
  font-size: 15px;
  transition: 0.2s all;
}

.details-btn:active{
  transform: scale(0.98);
}

.details-btn:focus{
  outline: none;
}

.fa-indent{
  margin-left: 15px;
  color:#f5740f;
}

.register{
  margin-top: 100px;
}

.register h1{
  padding-bottom: 20px;
}

.registerBtn{
 display: flex;
 justify-content: center;
align-items: center;
border-radius: 8px;
padding: 20px;
width: 150px;
border: 1px solid black;
}


.register > input{
  border-radius: 8px;
  border: 1px solid black;
}

.register > input:focus{
border: 1px solid #58abee;
}

.notifications {
  display: block;
  margin: 0 auto;
  background-color: rgb(236, 129, 129);
  border-radius: 6px;
  width: 50%;
  margin-top: 40px;
  padding: 0.5%;
}

.notifications p.notification-message {
  color: #234465;
  font-weight: bold;
  text-align: center;
}


.notifications .none{
  display: none;
}

.a-home{
  border-radius: 200px 200px 200px 200px;
  transition: 0.2s all;
}

.a-home:hover{
  transform: scale(1.11);
}

.item-img{
  height: 100px;
  width: 150px;
}

.re-label{
  margin-right: 200px;
}

.item-info{
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-top: 25px;
}

.cart-table{
  margin-top: 150px;
  width: 100%;
  border-collapse: collapse;
}

th{
  width: 320px;
}


.cart-quantity-item{
  height: 35px;
  width: 35px;
  padding-left: 7px;
  margin-left: 280px;
}

.price-cart{
  margin-left: 280px;
  font-weight: bold;
}

.table-header{
  height: 35px;
  background-color: #f5740f;
  color: white;
}

.cart-btn{
  border: none;
  color: #f5740f;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
}

.price-table{
  display: flex;
  justify-content: flex-end;
}

.final-price{
  border-top: 1px solid gainsboro;
  margin-right: 200px;
  width: 350px;
}

.final-price-td{
  padding: 10px;
  font-weight: bold;
}

.final-price-td-price{
  font-weight: bold;
}

.cart-buy{
  display: flex;
  justify-content: flex-end;

}

.cart-buy-btn{
  width: 100px;
  padding: 5px;
  margin-right: 240px;
  margin-top: 50px;
}
