
* {

  margin: 0;
  padding: 0;
   box-sizing: border-box;
}

body{
  font-family: 'Shippori Mincho B1', serif;
}
html {
  scroll-behavior: smooth;
}

.container{
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
  padding:30px 50px 20px 50px;
  box-sizing:border-box;
}
 
nav{
  width: 100%;
  top:0;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size:30px;
  font-weight: bold;
  font-family: 'Ranchers', cursive;
}

ul{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0;
  margin-right: 150px;
  list-style-type: none;
}

.bannerLogo{
  height: 80px;
}



.a-header{
  text-decoration: none;
  font-size:20px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  margin-left: 30px;
  width: fit-content;
  padding: 10px;
  margin-bottom: 5px;
}

.a-header:hover{
  color: rgb(82, 80, 80);
}

.link-logo{
text-decoration: none;
color: black;
cursor: pointer;
}

.link-logo:hover{
  color: rgb(82, 80, 80);
}

a:active{
  transform: scale(0.98);
}

ul > li{
  font-size:18px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 20px;
  margin-left:20px;
  padding:10px;
  box-sizing: border-box;
  cursor: pointer;
  padding-left: 20px;
  border-radius:100% 0% 23% 77% / 31% 65% 35% 69%;
  transition: background-color 0.5s ease-in-out;
}

ul > li:hover{
  background: linear-gradient(#d88a8a, #9198e5);
  border-radius: 100% 0% 23% 77% / 31% 65% 35% 69%;
  transform: scale(1.1);
  text-decoration: none;
}

.dot{
  padding: 10px;
  background: linear-gradient(#d88a8a, #9198e5);
  border-radius: 50%;
}

.cart-link{
  color: black;
  padding: 5px;
}


.fa.fa-search:hover{
    background-color: rgb(224, 224, 224);
    border-radius: 50%;
}

.loop > i{
  font-size: 10px;
}

.mainContent{
  display:flex;
  justify-content: center;
  align-items: baseline;
  position: relative;
  width:70%;
  height:100%;
 margin:70px auto;
  box-sizing: border-box;
 justify-content: space-between;
  flex-wrap: wrap;
}

.card{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 25px;
  margin-right: 20px;
  transition: 0.2s all;
}

.card:hover{
  transform: scale(1.11);
}



.card .img{
  width: 250px;
}


.btn{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
border: 2px solid #000000;
cursor: pointer;
background-color: black;
color:white;
font-weight: bold;
transition: 0.4s all;
}

.btn:hover{
  width: 170px;
}

.btn:active{
  transform: scale(0.98);
}

.trd{
  font-size: 20px;
  margin-top: 20px;
  font-weight: 600;
}

.footer{
    height: 50px;
    bottom: 0px;
    margin-bottom: 0px;
font-size: 13px;
display: flex;
flex-direction: column;
margin-top: 130px;
}

.card-desc{
  font-size: 14px;
  color: rgb(199, 201, 202);
}

.input-show{
  display:inline;
  animation: slide 1s ease;
  height: 42px;
  width: 180px;
  border-radius: 58px 58px 58px 58px;
  padding:10px;
  border: none;
  background-color: rgb(245, 244, 244);
  font-size: 14px;
}

.search-form{
  position: relative;
  bottom: 20px;
  left: 30px;
}

.input-show:focus{
  outline: none;
}

.input-show:hover{
  background-color: rgb(224, 224, 224);
}

.input-show::placeholder{
  opacity: 0.4;
  font-size: 16px;
  text-indent: 20px;
}

.fa.fa-search{
  position: relative;
  top: 18px;
  right: 4px;
  font-size: 20px;
  padding: 6px;
  color: black;
}

.fa.fa-shopping-cart{
  font-size: 20px;
  position: relative;
  bottom: 19px;
  left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 0px;
}

.fa.fa-shopping-cart:hover{
  background-color: rgb(224, 224, 224);
  border-radius: 50%;
}

.cart-items-qty.display{
  position: relative;
  bottom: 12px;
  right: 5px;
  padding: 4px;
  background-color: rgb(218, 93, 93);
  border-radius: 50%;
  font-weight:100;
  font-size: 14px;
  color: white;
}

.cart-items-qty.none{
  display: none;
}

.input-hide{
  display:none;
}

@keyframes slide{
  0%{
    opacity: 0;
    transform: translateX(100px)
  }
  100%{
    opacity: 1;
    tranform: translateY(0);
  }
}

.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.input-field{
  width: 350px;
  border-radius: 28px;
  height: 45px;
  border: none;
  margin-bottom: 30px;
  padding-left: 8px;
  background-color: rgb(245, 244, 244);
  transition: 0.4s ease-in-out;
}

.login-header{
  margin-bottom: 15px;
  margin-left: -250px;
  font-size: 40px;
}

.login-label{
  margin-left: -250px;
  opacity: 0.9;
}

.login-divider{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login-divider > hr{
  height: 150px;
  width: 1px solid gray;
  opacity: 0.3;
}


.login h1{
  padding-bottom: 20px;
}

.login input{
  padding-bottom: 5px;
  height: 40px;
}

.login button{
  margin-top: 20px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageBanner{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  width: 1800px;
  height: 500px;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url("./components/photos/men.jpg") center/cover no-repeat;
}


.imageBannerBtn:hover{
  opacity: 0.6;
  cursor: pointer;
}
.searchBar{
  display: inline-block;
}


.womenImageBanner{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  width: 1800px;
  height: 500px;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('./components/photos/shop.jpg') center/cover no-repeat;
}

.bannerBtn{
  height: 40px;
  width: 100px;
  border-radius: 58px 58px 58px 58px;
  outline: none;
  justify-content:center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 0.5px solid black;
  background-color: rgb(255, 255, 255);
}


.login-email{
  margin-left: -220px;
  opacity: 0.9;
}

.bannerBtn:hover{
  opacity: 0.6;
  cursor: pointer;
}

.login .signIn{
  padding-top: 8px;
  width: 350px;
  height: 40px;
 font-weight: bold;
  border-radius: 28px;
  border: none;
  background-color: royalblue;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.signIn:hover{
  background-color: rgba(14, 59, 206, 0.918);
}

.register-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding-top: 8px;
  height: 40px;
  border-radius: 28px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s all;
}

.register-btn:hover{
  background-color: black;
  color: white;
}

.register-btn:active{
  outline: none;
}

.login .signIn:focus{
  outline: none;
}

.or-login{
  margin-top: 40px;
}

.underline{
  width: 30%;
  height: 2px;
  color: black;
}

.input-field:focus{
  border: 1px solid gray ;
  outline: none;
}

.contactDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.map{
 margin-top: 60px;
}


.contactHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.contactInfo{
  width: 400px;
  border: 1px solid gray;
}

.register{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;

}

.column {
  flex: 50%;
  display: inline;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.dropdown{
  display: flex;
  margin-left: auto;
  margin-right: 200px;
  border: none;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  width: 150px;
}



.dropdown:focus{
  outline: none;
}

.column img{
  margin-top: 130px;
  width: 600px;
  height: 600px;
}

.column .product-home{
  margin-right: 140px;
  margin-top: 100px;
  opacity: 0.8;
  font-size: 20px;
}

.to-home{
  text-decoration: none;
  color:black;
}

.column h1{
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.column h3{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.details-input{
  width: 45px;
  height: 45px;
  border: 1px solid #f5a40f;
  margin-top: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
}


.details-input:focus{
  outline: none;
}

.details-select{
  width: 125px;
  height: 45px;
  border: 1px solid #f5a40f;
  padding-left: 15px;
}

.details-select:focus{
  outline: none;
}

.price{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

.details-info{
  display: flex;
  flex-direction: column;
  justify-content:first baseline;
}

.details-btn{
  margin-top: 10px;
  width: 180px;
  height: 40px;
  border-radius: 44px 44px 44px 44px;
  background: #f5760f;
  color: white;
  border: none;
  font-size: 15px;
  transition: 0.2s all;
}

.details-btn.favourite{
  background-color: black;
  color: white;
}

.details-btn:active{
  transform: scale(0.98);
}

.details-btn:focus{
  outline: none;
}

.fa-indent{
  margin-left: 15px;
  color:#f5740f;
}

.register{
  margin-top: 100px;
}

.register h1{
  padding-bottom: 20px;
}

.registerBtn{
 display: flex;
 justify-content: center;
align-items: center;
border-radius: 8px;
padding: 20px;
width: 150px;
border: 1px solid black;
}


.register > input{
  border-radius: 8px;
  border: 1px solid black;
}

.register > input:focus{
border: 1px solid #58abee;
}

.notifications {
  display: block;
  margin: 0 auto;
  background-color: rgb(236, 129, 129);
  border-radius: 6px;
  width: 50%;
  margin-top: 40px;
  padding: 0.5%;
}

.notifications p.notification-message {
  color: #234465;
  font-weight: bold;
  text-align: center;
}


.notifications .none{
  display: none;
}

.a-home{
  border-radius: 200px 200px 200px 200px;
  transition: 0.2s all;
}

.a-home:hover{
  transform: scale(1.11);
}

.item-img{
  height: 150px;
  width: 150px;
}

.re-label{
  margin-right: 200px;
}

.item-info{
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-top: 25px;
}

.cart-table{
  margin-top: 150px;
  width: 100%;
  border-collapse: collapse;
}

th{
  width: 320px;
}


.cart-quantity-item{
  height: 35px;
  width: 35px;
  padding-left: 7px;
  margin-left: 280px;
}

.price-cart{
  margin-left: 280px;
  font-weight: bold;
}

.table-header{
  height: 35px;
  background-color: #f5740f;
  color: white;
}



.cart-btn{
  border: none;
  color: #f5740f;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s all;
}

.cart-btn:active{
  outline: none;
}

.cart-btn:active{
  transform: scale(0.98);
}

.price-table{
  display: flex;
  justify-content: flex-end;
}

.final-price{
  border-top: 1px solid gainsboro;
  margin-right: 200px;
  width: 350px;
}

.final-price-td{
  padding: 10px;
  font-weight: bold;
}

.final-price-td-price{
  font-weight: bold;
}

.cart-buy{
  display: flex;
  justify-content: flex-end;

}

.cart-buy-btn{
  width: 250px;
  padding: 5px;
  margin-right: 265px;
  margin-top: 40px;
  border-radius: 8px;
  border: none;
  height: 50px;
  cursor: pointer;
}

.cart-buy-btn:active{
  outline: none;
}

.promoOffer{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background: rgb(244, 244, 244);
}

.promo{
  width: 400px;
  position: relative;
}

.promoOffer > h2{
  margin-top: 20px;
  position: relative;
  left: 30px;
}

.promoOffer > span{
  margin-top: 20px;
  position: relative;
  left: 30px;
  font-size: 20px;
}

.promo-btn{
  width: fit-content;
  border: none;
  margin-top: 20px;
  position: relative;
  left: 30px;
  font-size: 16px;
  background-color: rgb(244, 244, 244);
  font-weight: bold;
}

.active{
  background-color: #9198e5;
  border-radius: 50%;
}

.empty-bag{
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-top: 50px;
}

.header-profile{
  display: flex;
  position: absolute;
  flex-direction: row;
  right: 60px;
  top: 15px;
  margin-right: 20px;
  font-size: 15px;
  cursor: pointer;
}

.far.fa-user{
  margin-left: 10px;
  margin-top: 5px;
  font-size: 20px;
}

.header-profile > .email{
  font-size: 16px;
  margin-top: 3px;
}

.user-link{
  color: black;
  text-decoration: none;
}

.user-link-login{
  color: black;
  text-decoration: none;
  margin-right: 4px;
  font-size: 15px;
}

.user-link-register{
  color: black;
  text-decoration: none;
  margin-left: 4px;
  font-size: 15px;
}

.profile-item-img{
  width: 350px;
  height: 350px;
  margin-bottom: 20px;
}

.profile-item-btn{
  margin-top: 20px;
  width: 110px;
  height: 35px;
  border-radius:12px;
  border: 1px solid gray;
  background: white;
  cursor: pointer;
  position: relative;
  right: 80px;
}

.profile-item-price{
  position: relative;
  left: 120px;
  bottom: 50px;
}

.profile-item-model{
  position: relative;
  right: 120px;
}

.profile-item-category{
  position: relative;
  right: 120px;
}

.favourites-h3{
  position: relative;
  left: 20px;
  top: 40px;
}

.edit-fav{
  position: relative;
  justify-content: flex-end;
  width: fit-content;
  margin-left: auto;
  right: 150px;
  top: 20px;
  width: 90px;
  height: 35px;
  border-radius:12px;
  border: 1px solid gray;
  background: white;
}

.edit-fav:focus{
  outline: none;
}


.user-profile.fa.fa-heart{
  position: relative;
  left: 150px;
  bottom: 250px;
  font-size: 25px;
  border-radius: 50%;
  padding: 6px;
  background-color: rgb(224, 224, 224);
}

.user-profile.far.fa-heart{
  position: relative;
  left: 150px;
  bottom: 240px;
  font-size: 25px;
  border-radius: 50%;
  padding: 6px;
  background-color: rgb(224, 224, 224);
}

.login-logo{
  text-decoration: none;
}

.register-logo{
  text-decoration: none;
}

.no-fav-items{
  position: relative;
  left: 240px;
  top: 100px;
}

.profile-link{
  font-size: 20px;
  position: relative;
  top: 1px;
  text-decoration: none;
  color: black;
  padding: 5px;
}

.far.fa-heart.header{
  position: relative;
  bottom: 20px;
  left: 30px;
  padding: 6px;
  font-size: 23px;
}

.far.fa-heart.header:hover{
  background-color: rgb(224, 224, 224);
  border-radius: 50%;
}

.search-link{
  color: black;
}

.no-search-items{
  position: relative;
  left: 300px;
  top: 100px;
}

.amount-label{
  margin-right: 150px;
}

.card-fav{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 25px;
    margin-right: 20px;
    transition: 0.2s all;
    padding: 20px;
}

.card-fav:hover{
  transform: scale(1.11);
}

.card-fav .img{
  width: 250px;
  height: 220px;
}

.account{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  left: 700px;
  bottom: 50px
}

.far.fa-user-circle{
  font-size: 100px;
}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  border-radius: 28px;
  height: 45px;
  border: none;
  margin-bottom: 30px;
  background-color: rgb(245, 244, 244);
  transition: 0.4s ease-in-out;
}

.profile-amount{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  border-radius: 28px;
  height: 45px;
  border: none;
  margin-bottom: 30px;
  background-color: rgb(245, 244, 244);
  transition: 0.4s ease-in-out;
}

.successfull {
  display: block;
  margin: 0 auto;
  background-color: rgb(106, 236, 117);
  border-radius: 6px;
  width: 50%;
  margin-top: 40px;
  padding: 0.5%;
}

.successfull p.notification-message {
  color: #22476b;
  font-weight: bold;
  text-align: center;
}

.member{
 display: flex;
 flex-direction: row;
 font-weight: bold;
 margin-top: 10px;
 margin-bottom: 10px;
 color:rgb(109, 107, 107);
}


.order-img{
  height: 90px;
  width: 90px;
  position: relative;
  left: 15px;
}

.order-history-singleItem{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  height: fit-content;
  width: max-content;
}

.order-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.order-model{
  position: relative;
  top: 20px;
  left: 23px;
}

.order-price{
  position: relative;
  top: 45px;
  right: 20px;
}

.order-subtotal{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 25px;
}

.order-status{
  position: relative;
  top: 70px;
  left: 250px;
}

.order-number{
  width: 220px;
  background-color: #9198e5;
  font-size: 16px;
  display: flex;
  justify-content: first baseline;
}

.order-history-multipleItems{
  display: flex;
  flex-direction: row;
  height: fit-content;
 border-bottom: 1px solid gray;
 border-left: 1px solid gray;
 width: 100%;
}

.order-img-multipleItems{
  width: 90px;
  height: 90px;
}

.order-info-multipleItems{
  display: flex;
  flex-direction: column;
}

.one-item-info{
  display: flex;
  flex-direction: row;
  position: relative;
  left: 10px;
}

.order-img-multipleItems{
  padding: 10px;
}

.order-model-multipleItems{
  position: relative;
  top: 20px;
  left: 5px;
}

.order-price-multipleItems{
  position: relative;
  top: 50px;
  right: 38px;
}

.order-number-multipleItems{
  width: 220px;
  background-color: #9198e5;
  font-size: 16px;
  display: flex;
  justify-content:first baseline;
}

.order-subtotal-multipleItems{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.order-status-multipleItems{
  position: relative;
  top: 80px;
  left: 209px;
}

.header-history{
  margin-top: 160px;

}

.history{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 500px;
  width: fit-content;
  bottom: 50px;
}

.made-at{
  margin-top: 10px;
}

.contact-info-row{
  display: flex;
}

.map{
  flex: 50%;
  margin-left: 50px;
}

.contacts{
  flex: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;

}

.contacts > div > span{
  font-weight: bold;
}

.container-contacts{
  margin-bottom: 15px;
}

.control-menu{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  position: relative;
  top: 170px;
  width: fit-content;
}

.control-menu > span{
  margin-bottom: 10px;
}

.control-panel{
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.profile-icon{
  padding-right: 15px;
  font-size: 30px;
}

.header-order{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.user-settings{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.refund-form{
  display: flex;
  flex-direction: column;
}

.refund-label{
  position: relative;
  left: 20px;
}

.refunds-msg{
  position: relative;
  bottom: 20px;
  left: 10px;
  text-decoration: underline;
  opacity: 0.7;
}

.refund-form > button{
  width: fit-content;
  position: relative;
  left: 300px;
  bottom: 20px;
  height: fit-content;
}

.active-control{
  text-decoration: underline;
}

.order-refund{
  padding-left: 20px;
}

.error-msg{
  text-decoration: none;
  color: red;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
  position: relative;
  left: 15px;
  bottom: 15px;
}

.successfull-msg{
 text-decoration: none;
 color: green;
 font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
  position: relative;
  left: 15px;
  bottom: 15px;
}

.status{
  padding: 10px;
  padding-left: 80px;
}

.red{
  font-weight: bold;
  margin-left: 9px;
}

.edit-password{
  position: relative;
  left: 35px;
}

.edit-passwordInput{
  position: relative;
  top: 32px;
  right: 50px;
  padding-left: 23px;
}

.edit-password-btn{
position: relative;
top: 80px;
right: 90px;
border: 1px solid gray;
border-radius: 8px;
padding: 8px;
background-color: white;
cursor: pointer;
}

.refund-btn{
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px;
  background-color: white;
  cursor: pointer;
}

.delete-acc{
  position: relative;
  top: 95px;
}

.delete-acc-span{
  margin-right: 20px;
  position: relative;
}

.delete-acc-btn{
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px;
background-color: white;
  margin-left: 170px;
}

.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
  color: #fff;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
  font-weight: 500;
  color: #fff;
}

.FormRowLabel {
  width: 15%;
  min-width: 70px;
  padding: 11px 0;
  color: #e6f9ff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.FormRowInput {
  font-size: 16px;
  width: 100%;
  padding: 11px 15px 11px 0;
  color: #fff;
  background-color: transparent;
  animation: 1ms void-animation-out;
  border: none;
}

.FormRowInput::placeholder {
  color: #87bbfd;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
  color: #fff;
}

.Form {
  animation: fade 200ms ease-out;
}


.AppWrapper {
  width: 500px;
  height: 400px;
  position: relative;
  left: 620px;
  top: 270px;
}

.stripe-btn{
  width: 480px;
  height: 40px;
  position: relative;
  display: block;
  font-size: 16px;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #fa666e;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.stripe-btn:active {
  background-color: #fa666e;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08);
  border: none;
  transform: scale(0.99);
}

.stripe-btn:disabled{
  background-color: #920c13;
}

