* {
  margin: 0;
  padding: 0;
   box-sizing: border-box;
}

body{
  font-family: 'Shippori Mincho B1', serif;
}

.container{
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
  padding:30px 50px 20px 50px;
  box-sizing:border-box;
}
 
nav{
  height: 100%;
  width: 100%;
  padding: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50;
}

nav .logo{
  font-size:30px;
  font-weight: bold;
}

ul{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0;
  margin-right: 150px;
  list-style-type: none;
}


a{
  font-size:20px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
  margin-left:20px;
  padding:10px;
  box-sizing: border-box;
  cursor: pointer;
  padding-left: 20px;
  background-color: white;
  border-radius:100% 0% 23% 77% / 31% 65% 35% 69%;
  transition: background-color 0.5s ease-in-out;
}

ul > li{
  font-size:20px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
  margin-left:20px;
  padding:10px;
  box-sizing: border-box;
  cursor: pointer;
  padding-left: 20px;
  background-color: white;
  border-radius:100% 0% 23% 77% / 31% 65% 35% 69%;
  transition: background-color 0.5s ease-in-out;
}

ul > li:hover{
  background-color: turquoise;
  border-radius: 100% 0% 23% 77% / 31% 65% 35% 69%;
}

a:hover{
  background-color: turquoise;
  border-radius:100% 0% 23% 77% / 31% 65% 35% 69%  ;
}


.search  .fa{
  font-size: 25px;
  cursor: pointer;
  justify-content: space-between;
  margin-left: 15px;
}

.mainContent{
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width:70%;
  height:100%;
 margin:50px auto;
 padding:50px 0 0;
  box-sizing: border-box;
 justify-content: space-between;
  flex-wrap: wrap;
}

.card{
  width: 30%;
  height: auto;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 25px;
  transition:  background-color 1s ease-in-out;
}

.card .img{
  width: 250px;
}

.card:hover{
  transform: scale(1.1);
  background: linear-gradient(#d88a8a, #9198e5);
  border-radius: 200px 300px 200px;
}

.btn{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
border: 2px solid #000000;
cursor: pointer;
background-color: black;
color:white;
font-weight: bold;
transition: width 1s;
}

.btn:hover{
  width: 200px;
}

.trd{
  font-size: 20px;
  margin-top: 20px;
  font-weight: 600;
}

.footer{
font-size: 13px;
display: flex;
flex-direction: column;
margin-top: 50px;
}

.card-desc{
  font-size: 14px;
  color: rgb(199, 201, 202);
}

.input-show{
  display:inline;
  animation: slide 1s ease;
  height: 35px;
 border-radius: 4px 4px 4px 4px;
}

.input-show:hover{
  -webkit-box-shadow: -2px 0px 9px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 0px 9px 0px rgba(0,0,0,0.75);
box-shadow: -2px 0px 9px 0px rgba(0,0,0,0.75);
}

.input-hide{
  display:none;
}

@keyframes slide{
  0%{
    opacity: 0;
    transform: translateX(100px)
  }
  100%{
    opacity: 1;
    tranform: translateY(0);
  }
}

.login{
  width:800px; 
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login label{
  padding-bottom: 10px;
  font-weight: bold;
  padding-bottom: 20px;
}

.login h1{
  padding-bottom: 20px;
}

.login input{
  padding-bottom: 5px;
  height: 40px;
}

.login button{
  margin-top: 20px;
  padding-bottom: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageBanner{
  display:flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
  width: 1800px;
  height: 700px;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url("https://wallpaperaccess.com/full/2232321.jpg") center/cover no-repeat;
}

.imageBanner button{
  width: 10%;
  display: flex;
  justify-content:flex-start;
}

